@charset "UTF-8";
/* ���� */
body {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: "Lucida Grande","�q���M�m�p�S Pro W3","Hiragino Kaku Gothic Pro",Osaka,"���C���I",Meiryo,"�l�r �o�S�V�b�N","MS P Gothic",sans-serif,Verdana,Arial,Helvetica;
  background-color: #010c23;
  overflow-y: scroll;
  height: 100%; }

span, div.text {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap; }

.clear {
  clear: both; }

.right {
  float: right; }

.mb-xs {
  margin-bottom: 15px; }

.pointer {
  cursor: pointer; }

/* TOP */
div.top {
  height: 400px;
  width: 100%;
  background-image: url(../img/pso20160111_053331_000_R.jpg);
  background-position: center center;
  position: relative; }
  div.top a.news {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 15px; }
    div.top a.news img {
      height: 100px; }
  div.top > div {
    background-color: rgba(80, 80, 100, 0.3);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center; }
  div.top .top_btn {
    height: 130px;
    position: absolute;
    bottom: 0;
    text-align: left; }
    div.top .top_btn a img {
      height: 120px;
      transform: rotate(-3deg);
      transition: 0.1s; }
    div.top .top_btn a:hover img {
      transform: rotate(0deg); }

div.info {
  text-align: right;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

@media screen and (max-width: 1000px) {
  div.top .top_btn {
    width: 100%;
    left: 0;
    margin-left: 0; } }

@media screen and (min-width: 1001px) {
  div.top .top_btn {
    width: 1000px;
    left: 50%;
    margin-left: -500px; } }

div.container {
  margin: 10px auto 20px;
  text-align: center; }
  div.container .half {
    display: inline-block;
    position: relative;
    width: 400px;
    vertical-align: top; }
    div.container .half img.full {
      width: 100%; }
    div.container .half .simulate {
      display: inline-block;
      position: absolute;
      top: 175px;
      left: 48px;
      width: 300px;
      height: 50px;
      overflow: hidden;
      border: 2px #fff solid;
      font-size: 36px;
      line-height: 54px;
      border-radius: 20px;
      vertical-align: bottom;
      text-decoration: none;
      transition: 0.3s; }
      div.container .half .simulate .btn_before {
        width: 100%;
        transition: 0.3s;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center; }
      div.container .half .simulate:hover .btn_before {
        top: 100%;
        opacity: 0; }
      div.container .half .simulate .btn_after {
        width: 100%;
        transition: 0.3s;
        color: #012;
        background-color: #9bd;
        position: absolute;
        left: 0;
        top: -100%;
        text-align: center;
        opacity: 0; }
      div.container .half .simulate:hover .btn_after {
        top: 0;
        opacity: 1; }
    div.container .half img.face {
      display: inline-block;
      vertical-align: top;
      width: 76px; }
    div.container .half .msg {
      display: inline-block;
      vertical-align: top;
      width: 213px;
      height: 36px;
      color: #257;
      text-align: left;
      padding: 38px 15px 0 48px;
      background-image: url(../img/Gchat_l.png); }

div.main {
  margin: auto;
  text-align: center; }
  div.main div.link {
    display: inline-block;
    height: 200px;
    width: 400px;
    margin: 20px; }
    div.main div.link a {
      display: inline-block;
      height: 100%;
      width: 100%; }
      div.main div.link a img.chara {
        height: 100%;
        width: 100%;
        background-color: #040000; }
  div.main div.btn {
    text-align: center; }
    div.main div.btn a img {
      width: 320px; }

#character section {
  overflow: hidden;
  display: inline-block;
  height: 140px;
  width: 300px;
  margin: 5px; }
  #character section .bg-image {
    transition: 0.3s;
    height: 90px;
    width: 300px;
    background-size: 300px 450px;
    background-position: center center; }
  #character section#moon .bg-image {
    background-image: url(../img/bg1.png);
    background-position: 0 0; }
  #character section#moon .ch-body {
    background: #324; }
  #character section#gen .bg-image {
    background-image: url(../img/bg1.png);
    background-position: 0 -90px; }
  #character section#gen .ch-body {
    background: #999; }
  #character section#alt .bg-image {
    background-image: url(../img/bg1.png);
    background-position: 0 -180px; }
  #character section#alt .ch-body {
    background: #397; }
  #character section#mgt .bg-image {
    background-image: url(../img/bg1.png);
    background-position: 0 -270px; }
  #character section#mgt .ch-body {
    background: #222; }
  #character section#drk .bg-image {
    background-image: url(../img/bg1.png);
    background-position: 0 -360px; }
  #character section#drk .ch-body {
    background: #444; }
  #character section#ykz .bg-image {
    background-image: url(../img/bg2.png);
    background-position: 0 0; }
  #character section#ykz .ch-body {
    background: #963; }
  #character section#kor .bg-image {
    background-image: url(../img/bg2.png);
    background-position: 0 -90px; }
  #character section#kor .ch-body {
    background: #149; }
  #character section#bob .bg-image {
    background-image: url(../img/bg2.png);
    background-position: 0 -180px; }
  #character section#bob .ch-body {
    background: #421; }
  #character section#alsn .bg-image {
    background-image: url(../img/bg2.png);
    background-position: 0 -270px; }
  #character section#alsn .ch-body {
    background: #579; }
  #character section#moon2 .bg-image {
    background-image: url(../img/bg2.png);
    background-position: 0 -360px; }
  #character section#moon2 .ch-body {
    background: #282030; }
  #character section#rn .bg-image {
    background-image: url(../img/bg3.png);
    background-position: 0 0; }
  #character section#rn .ch-body {
    background: #848; }
  #character section#wst .bg-image {
    background-image: url(../img/bg3.png);
    background-position: 0 -90px; }
  #character section#wst .ch-body {
    background: #879; }
  #character section#cle .bg-image {
    background-image: url(../img/bg3.png);
    background-position: 0 -180px; }
  #character section#cle .ch-body {
    background: #911; }
  #character section#afn .bg-image {
    background-image: url(../img/bg3.png);
    background-position: 0 -270px; }
  #character section#afn .ch-body {
    background: #111; }
  #character section#rpk .bg-image {
    background-image: url(../img/bg3.png);
    background-position: 0 -360px; }
  #character section#rpk .ch-body {
    background: #648; }
  #character section#sst .bg-image {
    background-image: url(../img/bg4.png);
    background-position: 0 0px; }
  #character section#sst .ch-body {
    background: #986; }
  #character section#tts .bg-image {
    background-image: url(../img/bg4.png);
    background-position: 0 -90px; }
  #character section#tts .ch-body {
    background: #248; }
  #character section#gdk .bg-image {
    background-image: url(../img/bg4.png);
    background-position: 0 -180px; }
  #character section#gdk .ch-body {
    background: #136; }
  #character section#van .bg-image {
    background-image: url(../img/bg4.png);
    background-position: 0 -270px; }
  #character section#van .ch-body {
    background: #942; }
  #character section#alc .bg-image {
    background-image: url(../img/bg4.png);
    background-position: 0 -360px; }
  #character section#alc .ch-body {
    background: #939; }
  #character section .ch-body {
    transition: 0.3s;
    height: 50px;
    position: relative; }
    #character section .ch-body img {
      transition: 0.3s;
      position: absolute;
      top: -43px;
      left: 7px;
      height: 80px;
      width: 80px;
      border: 3px solid white;
      border-radius: 50%; }
    #character section .ch-body h1 {
      margin: 0;
      height: 50px;
      padding-left: 110px;
      text-align: left;
      line-height: 45px;
      font-size: 20px; }
    #character section .ch-body .spec {
      transition: 0.2s;
      position: absolute;
      top: 20px;
      left: 110px;
      opacity: 0; }
    #character section .ch-body.ln h1 {
      padding-top: 3px;
      font-size: 18px;
      line-height: 22px; }
    #character section .ch-body.ln .spec {
      top: 30px; }
    #character section .ch-body .detail {
      padding: 0 10px;
      text-align: left; }
  #character section:hover .bg-image {
    height: 30px;
    opacity: 0.3; }
  #character section:hover .ch-body {
    height: 110px; }
    #character section:hover .ch-body img {
      top: -23px; }
    #character section:hover .ch-body .spec {
      opacity: 1; }

div.account {
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px; }
  div.account .account_frame {
    text-align: center;
    clear: both;
    border: #def 2px solid;
    margin: 20px 20px 0;
    border-radius: 10px;
    background: rgba(155, 175, 195, 0.3); }
    div.account .account_frame img {
      display: inline-block;
      vertical-align: top;
      width: 250px; }
    div.account .account_frame .account_detail {
      display: inline-block;
      font-size: 18px;
      text-align: left;
      vertical-align: top;
      width: 280px;
      margin: 20px 10px; }

/* �q�y�[�W���� */
header {
  min-height: 60px;
  margin: 10px auto;
  max-width: 720px;
  padding: 0 20px;
  position: relative; }
  header a {
    display: inline-block;
    height: 60px; }
    header a img {
      height: 60px; }

footer {
  text-align: center; }

/* Dice */
#description {
  text-align: center; }
  #description article {
    display: inline-block;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px 20px;
    background-color: #f9f9f9;
    color: #333; }
    #description article section {
      text-align: left; }
  #description label {
    display: block;
    text-align: center;
    margin: 10px auto 0;
    cursor: pointer; }

.card {
  display: inline-block;
  vertical-align: top;
  height: 480px;
  width: 300px;
  background-color: #f9f9f9;
  color: #333;
  padding: 30px;
  margin-bottom: 20px; }
  .card h3 {
    margin-top: 0;
    font-size: 24px; }
  .card .input {
    height: 50px;
    width: 300px;
    border-bottom: 1px solid #333;
    margin-bottom: 24px; }
    .card .input label {
      display: block;
      text-align: left;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 4px; }
    .card .input input {
      font-size: 24px;
      text-align: right;
      height: 27px;
      width: 100%;
      border: none;
      outline: 0;
      background-color: transparent; }
    .card .input select, .card .input option {
      font-size: 20px;
      text-align: right;
      height: 29px;
      width: 100%;
      border: none;
      outline: 0;
      cursor: pointer;
      background-color: transparent; }
    .card .input.err {
      color: #f33;
      border-bottom: 1px solid #f33; }
  .card .btn {
    width: 280px;
    height: 36px;
    font-size: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    outline: 0;
    cursor: pointer; }
    .card .btn:hover {
      margin: 1px 0 -1px;
      color: #f9f9f9;
      background-color: #9ce; }
  .card .count {
    display: inline-block;
    width: 140px; }
    .card .count span {
      display: inline-block;
      text-align: right;
      min-width: 60px;
      font-size: 20px; }
  .card .result {
    display: inline-block;
    width: 280px;
    margin-bottom: 10px; }
    .card .result span {
      display: inline-block;
      text-align: right;
      min-width: 200px;
      font-size: 20px; }
  .card table {
    width: 100%;
    margin-bottom: 20px;
    table-layout: fixed; }
    .card table tbody th {
      width: 100px;
      text-align: left; }
    .card table tbody td {
      text-align: right; }
  .card a img {
    height: 100px;
    transform: rotate(-3deg);
    transition: 0.1s; }
  .card a:hover img {
    transform: rotate(0deg); }
