body{
  position:relative;
  color:#fff;font-size:18px;
  line-height:1.5;margin:0;padding:0;vertical-align:middle;
  font-family: "Lucida Grande","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS P Gothic",sans-serif,Verdana,Arial,Helvetica;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow-y:scroll;
}
header{
  position:fixed;
  width:100%;
  background-color:#013;
  height:80px;
  vertical-align:top;
}
header a.logo{display:inline-block;height:60px;margin:15px 30px 0 50px;}
header img.logo{height:50px;}
header div.main{padding-top:0;}


div.main{margin:auto;padding-top:80px;margin-bottom:50px;}

div.icon{float:left;margin-left:50px;}
a.menu{display:inline-block;height:42px;width:250px;border:2px #fff solid;margin:0;border-radius:30px;transition:0.8s;overflow:hidden;vertical-align:top;margin-top:20px;cursor:pointer;text-decoration:none;}
a.menu span{font-size:28px;line-height:42px;padding-left:2px;vertical-align:top;color:#fff;}
img.icon{height:36px;transition:1.2s;}
img.icon.arks{margin: 2px 3px 0;}
img.icon.roku{margin: 2px 5px 0;}
img.icon.kuna{margin: 1px 7px 0;}
img.icon.cruf{margin: 3px 3px 0;}
img.icon.twit{margin: 2px 3px 0;}
a.menu:hover{width:300px;}
a.menu:hover img.icon{transform: rotateY(720deg);}
div.topmenu{margin-bottom:20px;}
div.topmenu a.menu{width:42px;}
div.topmenu a.menu:hover{width:230px;}
div.topmenu a.menu span{font-size:20px;}

div.right{float:right;margin-right:50px;}
div.right .window{border:2px #9ab solid;margin:20px 0 0;border-radius:10px;background:rgba(155,175,195,0.2);float:right;clear:both;}
div.right .history{width:300px;}
div.right .env{width:180px;}
div.right .window .head{padding:3px 5px 0;border-bottom:1px #9ab solid;}
div.history ul{margin:0;padding:0;}
div.history li{font-size:14px;display:inline-block;;margin:0;padding:0 0 0 5px;}

div.env>span{font-size:14px;display:inline-block;;margin:0;padding:0 0 0 5px;}

a.tweet{display:inline-block;height:42px;width:42px;border:2px #fff solid;margin:0;border-radius:30px;transition:0.8s;overflow:hidden;vertical-align:top;margin-top:20px;cursor:pointer;float:right;clear:both;text-decoration:none}
a.tweet:hover{width:230px;}
a.tweet:hover img.icon{transform: rotateY(720deg);}
a.tweet span{font-size:20px;line-height:42px;padding-left:5px;vertical-align:top;color:#fff;}

a.banner{float:right;clear:both;margin-top:20px;}
a.banner img{border-radius:10px;}


div.diary{clear:both;border:#def 2px solid;margin:20px 50px 0;border-radius:10px;background:rgba(155,175,195,0.3);}
div.diary .title{font-size:28px;padding:5px 15px;}
div.diary .ss img{width:100%;max-width:640px;float:left;margin:0 25px 20px;}
div.diary .text{padding:0 20px;}
div.diary .text strong{font-size:20px;}
div.diary .date{clear:both;text-align:right;padding:5px 25px;}



span,div.text{word-break:break-all;word-wrap:break-word;white-space:pre-wrap;}

@media screen and (max-width: 1054px){
 div.main{
   max-width:800px;
   min-width:800px;
 }
}
@media screen and (min-width:1055px) and (max-width: 1300px){
 div.main{
   max-width:1024px;
   min-width:1024px;
 }
}
@media screen and (min-width:1301px){
 div.main{
   max-width:1280px;
   min-width:1280px;
 }
}
@media screen and (min-width: 1920px){
body{
background-size:cover;
}
}


.clear{clear:both;}
.disabled:hover{cursor:no-drop;opacity:0.5;}
